/* navigation bar*/
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
  }
  body{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
 
  
  .navbar{
    background-color: rgba(0,0,0,0.5);
    min-height: 80px;
    padding: 0 2%;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    

  }
  
  .navbar .brand img{
    width: 100px;
    padding-top: 5px;
    border-radius: 25px;
  }
  
  .navbar .brand{
    float: left;
  
  }
  .navbar nav{
    float: right;
  }
  
  .navbar::after{
    content: '';
    display: block;
    clear: both;
  }
  .navbar nav ul{
    margin: 0;
    padding: 0;
  
  }
  .navbar nav ul li{
    display: inline-block;
    list-style: none;
    margin-left: 2em;
  }
  .navbar nav ul li a{
    display: inline-block;
    min-width: 80px;
    line-height: 80px;
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    text-align: center;
    position: relative;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
    z-index: 100;
  
  }
  .navbar nav ul li a::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform ease-in-out .3s;
    z-index: -1;
  }
  .navbar nav ul li a:hover{
    color: black;
  }
  .navbar nav ul li a:hover::before{
    transform: scaleY(1);
    transform-origin: top;
  }
  section{
    height: 100vh;
    opacity: .8;
  }
.sec_a{  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 240px;
  }
  section.sec_a h1{
    text-align: center;
    font-size: 2em;
  }

  /* footer */
  .copyright-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  
  }

/*contact form*/
 .hero{
   height: 100%;
   width: 100%;
   
   background-position: center;
   background-size: cover;
   position: relative;

 }
 .form-box{
   width: 380px;
   height: 520px;
   position: relative;
   margin: 10% auto;
   background:white;
   padding: 5px;
   overflow: hidden;
 }
 .button-box{
   width: 220px;
   margin: 35px auto;
   position: relative;
   box-shadow: 0 0 20px 9px #ff61241f ;
   border-radius: 30px;
 }
 .toggle-btn{
   padding: 10px 85px;
   cursor: pointer;
   position: relative;
   background: transparent;
   border: 0;
   outline: none;
   margin: auto;

 }
 #btn{
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   position: absolute;
   background: linear-gradient(to right,#ff105f,#ffad06);
   border-radius: 30px;
   transition: .5s;
 }
 .social-icons{
   margin: 30px auto;
   text-align: center;
   width: 75%;
   padding: 10px 75px;
   cursor: pointer;
   display: block;
   margin: auto;
   
   outline: none;
   border: 0;
   border-radius: 30px;
   
 }
 .social-icons img{
  width: 30px;
  margin: 0 12px;
  box-shadow: 0 0 20px 0 #7f7f7f3d;
  cursor: pointer;
  border-radius: 50%;
  left: 50%;
}
 .input-group{
   top: 180px;
   position: absolute;
   width: 280px;
   transition: .5s;
   font-size: 10px;
 }
 .input-field{
   width: 100%;
   padding: 10px 0;
   margin: 5px 0;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   border-bottom: 1px solid #999;
   outline: none;
   background: transparent;

 }
 .submit-btn{
   width: 75%;
   padding: 10px 30px;
   cursor: pointer;
   display: block;
   margin: auto;
   background: linear-gradient(to right, #ff105f, #ffad06);
   outline: none;
   border: 0;
   border-radius: 30px;
 }
 #login{
   left: 50px;
   
 }
 #register{
   left: 450px;
 }
 .check-box{
   margin: 30px 10px 30px 0;
   color: #777;
   font-size: 12px;
 }
#message{
  padding-bottom: 10px;
}

.password-strength-indicator{
  font-size: 12px;
  display: inline-block;
  height: 15px;
  text-align: center;
  transition: 1s;
  margin: 15px 0;
  background: linear-gradient(to right, #ff105f, #ffad06);
}
 
.thankyou{
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
  position: relative;
  vertical-align: baseline;
}

.error{
  color: red;
  font-size: 14px;
}

/*Search Box*/
.search-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 1px;
}
.search-box:hover > .search-txt{
  width: 240px;
  padding: 0 6px;
}
.search-box:hover > .search-btn{
  background: white;
}
.search-btn{
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: 0.4s;
}
.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0px;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 240px;

}

.table{
  position: absolute;
   z-index: 100;
   
   font-weight: bold;
   color: #333;
   text-transform: uppercase;
   top: 100px;
   left: 100px; 
}